/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  header {
    background-color: #ff8c00;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  /* Estilos específicos para la sección "Inicio" */
  #inicio {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #inicio img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Estilos específicos para la sección "Habitaciones" */
  #habitaciones {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #habitaciones img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    height: 300px;
    width: 600px;
  }
  
  /* Estilos específicos para el formulario de reserva */
  .formulario {
    background-color: #ffcc80;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .formulario label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .formulario input[type="submit"] {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos específicos para la sección "Contacto" */
  #contacto {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  